* {
  cursor: default;
  padding: 0;
  margin: 0;
  color: #176b87;
}
body {
  background-color: #001c30;
  text-align: center;
}
h1 {
  font-size: 2.5rem;
  margin: 50px 0;
}
h2 {
  font-size: 2rem;
}
span {
  display: flex;
  flex-direction: column;
  font-weight: bold;
  font-size: large;
}
button {
  height: 150px;
  width: 150px;
  opacity: 0.5;
}
button:hover {
  opacity: 1;
  transition: opacity 0.1s ease-in;
  cursor: pointer;
  box-shadow: 0 3px 5px 0 #f86f03;
}

.containor {
  display: flex;
  justify-content: space-around;
  margin: 50px 0px;
}
.pressed {
  box-shadow: 0 2px 3px 0 #f86f03;
  opacity: 1;
}
.hide {
  visibility: hidden;
}
.Rock {
  background: transparent;
  background-image: url(/images/image1.png);
  background-size: 150px 150px;
}
.Paper {
  background-image: url(/images/image2.png);
  background-size: 150px 150px;
}
.Scissor {
  background-image: url(/images/image3.png);
  background-size: 150px 150px;
}
.computer {
  opacity: 1;
  font-weight: bold;
  font-size: large;
}
